<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleDisplayName</key>
	<string>ToneForge Studio</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>NSAppleMusicUsageDescription</key>
	<string>ToneForge Studio needs access to your music library to select songs for creating ringtones.</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>ToneForge Studio uses the microphone to capture audio from radio streams for creating ringtones.</string>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoadsInMedia</key>
		<true/>
	</dict>
	<key>UIFileSharingEnabled</key>
	<true/>
	<key>LSSupportsOpeningDocumentsInPlace</key>
	<true/>
	<!-- V1.1: AdMob keys removed for v1.0 - will be re-added when ads are integrated -->
	<!--
	<key>GADApplicationIdentifier</key>
	<string>ca-app-pub-9839581693857719~1482441662</string>
	<key>SKAdNetworkItems</key>
	<array>
		... (AdMob SKAdNetwork identifiers)
	</array>
	<key>NSUserTrackingUsageDescription</key>
	<string>This identifier will be used to deliver personalized ads to you.</string>
	-->
	<key>UIDeviceFamily</key>
	<array>
		<integer>1</integer>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
	</array>
	<key>UTImportedTypeDeclarations</key>
	<array>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.audio</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Audio File</string>
			<key>UTTypeIdentifier</key>
			<string>public.audio</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>m4a</string>
					<string>mp3</string>
					<string>wav</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.audio</string>
			</array>
			<key>UTTypeDescription</key>
			<string>iPhone Ringtone</string>
			<key>UTTypeIdentifier</key>
			<string>com.apple.m4a-audio</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>m4r</string>
				</array>
				<key>public.mime-type</key>
				<array>
					<string>audio/x-m4r</string>
				</array>
			</dict>
		</dict>
	</array>
</dict>
</plist>
